<%- include header %>
<form method="post">
  username: &emsp;&emsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name"><br/>
  password: &emsp;&emsp;&emsp;<input type="password" name="password"><br/>
  verify password: &nbsp;<input type="password" name="password_repeat"><br/>
  email: &emsp;&emsp;&emsp;&emsp;&emsp;<input type="email" name="email"><br/>
  <input type="submit" value="submit"><br/>
</form>
<%- include footer %>