<%- include header %>
<form method="post">
  username: <input type="text" name="name"><br/>
  passwd: <input type="password" name="passwd"><br/>
  verify passwd: <input type="password" name="verify-passwd"><br/>
  email: <input type="email" name="email"><br/>
  <input type="submit" value="submit"><br/>
</form>
<%- include footer %>